{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<center>
    <h2 style='margin: 10px; font-size: 30px; font-weight: bold; color: #365f91; font-style: italic;'>Get in touch</h2>
    <form action="{{ url_for('contact') }}" method=post>
        {{ form.hidden_tag() }}
    
        {{ form.name}}
        <br><br>
        {{ form.Email }}
        <br><br>
        {{ form.subject }}
        <br><br>
        {{ form.message }}
        <br><br>
        {{ form.send }}
    </form>
</center>    
<br>
{% endblock %}