<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- This is your own CSS style sheet -->
    <link href="/static/styles1.css" rel="stylesheet">
    <title>Raphael Nogueira</title>
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color:ivory;">
        <a class="navbar-brand" href="#">Raphael<br>Nogueira</a>
          <img src="/static/images/logoV5.png" width="60" height="70" class="d-inline-block align-top-center" alt="Raphael Nogueira">
          <div class="align-self-center mr-auto"> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" style="border:0px; outline:0px;" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="home">Home</a></li>
                <li class="nav-item">
                        <a class="nav-link" href="about">About</a></li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" style="background-color:ivory; border:0px; outline:0px;" id=navbar DropdownMenuLInk-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                      <div class="dropdown-menu dropdown-default" style="background-color:ivory; border:0px; outline:0px;" aira-labelledby="navbar DropdownMenuLink-333">
                          <a class="dropdown-item" style='font-weight: bold; font-size: 12px; font-style: italic; color: #555555' href="bokeh">Analysis Irish Housing Market</a>
                          <a class="dropdown-item" style='font-weight: bold; font-size: 12px; font-style: italic; color: #555555' href="rightApproach">Covid-19 what is the right approach?</a>
                          <a class="dropdown-item" style='font-weight: bold; font-size: 12px; font-style: italic; color: #555555' href="waste">Analysis E.U. Domestic Waste</a>
                          <a class="dropdown-item" style='font-weight: bold; font-size: 12px; font-style: italic; color: #555555' href="fonts">Font recognition</a>
                          <a class="dropdown-item" style='font-weight: bold; font-size: 12px; font-style: italic; color: #555555' href="f1">Analysis F1 2019</a>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a></li>
                </ul>
            </div>
          </div>
    </nav>
    <!--
        <nav class="navbar navbar-dark bg-darkblue">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
        </nav>
    </div> -->
      <main>
        {% block main %}{% endblock %}
      </main>

    </body>
    <center>
      <footer class="small text-center text-muted">
        <p class="copyright">Copyright &copy; 2020 | Raphael Nogueira</p>
      </footer>
    </center>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
</html>