{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}"  type="text/css" >
    <link href="/static/styles1.css" rel="stylesheet">

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>

    {{ script|safe }}
    {{ script1|safe }}
    {{ script2|safe }}

<body>
<div class='rightApproach'>
    {{ div|safe }}
</div>
<center>
<div class='rightApproach'>
    {{ div1|safe }}
</div>
</center>

<div class='rightApproach'>
    {{ div2|safe }}
</div>


</body>
{% endblock %}